/* ======================COLORS======== */
$red: #b927a5;  
$second-color-for-gradient:  #1565c0;
$normal-color: #3b4dbf;
$light-color: #dee1ec;
$light-plus-color: #bcc0d1;
$white-color: #ffffff;
$white-color-sub: #F5F5F5;
$white-color-shadow: #aaaaaa;
$dark-color: #000000;